.footer{
    width: 100%;
    background-color: #fff;
    height: 225px;
    display: flex;
    font-family: 'Pretendard', sans-serif;
    margin-top: 60px;
}

.buttons{
    gap: 20px;
}

.download-center a{
    color: #000;
    text-decoration: none;
}

.download-center button{
    padding: 12px 26px;
    background-color: #f2f3f6;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}