body {
    background-color: #f8f9fa;
}

.profile-img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: #d9d9d9;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

.post-box {
    background-color: #fff;
    padding: 56px;
    border: 1px solid #dedede;
    margin: 48px 0 0 0;

}

.container {
    position: relative;
  }
  
  .base-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 380px;
    object-fit: contain;
    background-color: #dedede;
    border-radius: 12px;
  }
  
  .overlay-image {
    position: absolute;
    top: 105px;
    left: 58px;
    z-index: 2;
    opacity: 0.8;
    display: none; /* 초기에는 겹치는 이미지를 숨김 */
    width: 1084px;
    height: 380px;
    background-color: #dedede;
    border-radius: 12px;
    
  }

.info-button-box {
    margin: 28px 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-info p {
    opacity: 0.5;
}

.button-box {
    gap: 8px;
}

.button-box .black {
    background-color: rgb(172, 38, 38);
    color: white;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}

.button-box .grey {
    background-color: #dedede;
    color: #000;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}

.button-box .orange {
    background-color: #fa6616;
    color: #fff;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}

hr {
    opacity: 0.5;
}


.post-info-box {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 0;
    gap: 16px;
}

.location-views-box {
    opacity: 0.5;
    margin-top: 40px;
}

.more_div {
    display: flex;
}

h8 {
    flex: 1;
}

.more {
    flex: 2;
}

/* 모달 스타일링 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    width: 300px;
    text-align: center;
    left: 40%;
  }

  .modal h2 {
    margin-top: 0;
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 20px;
  }

  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #fa6616;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #fd5901;
  }