body{
  background-color: #f8f9fa;
}


.flex-box column baseline title-box input{
  width: 300px;
}

.write-box{
    background-color: #fff;
    width: 100%;
    padding: 56px;
    border: 1px solid #dedede;
    margin: 48px 0 0 0 ;

}

 .about-trade input, textarea{
  background-color: #f3f3f3;
  border: none;
  font-size: 16px;
  width: -webkit-fill-available;
  padding: 8px 12px 8px 12px;

}

.flex-box-mid{
  display: flex;
  gap: 30px;
}

.description{
  resize: none; /* 크기 조절 비활성화 */
  height: 200px;
}


label{
  padding: 20px 0 10px 0;
}

.img-upload {
  border: 1px solid #dedede;
  width: 240px;
  height: 240px;
  box-sizing: border-box; /* 이 부분을 추가 */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.img-upload-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-box{
  padding: 0 0 0 20px;

}

.submit-button-box button{
  width:-webkit-fill-available;
  margin-top: 40px;
  background-color: #fa6616;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  height: 50px;
  padding: 12px 0;
}