{% load static %}
{% load custom_fillter %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <title>채팅하기</title>
  <style>
    .footer{
      position: relative;
      transform: translateY(10%);
    }
  </style>
</head>

<body class="back-ye">
  {% include 'nav.html' %}
  <div class="content-box">
    <div class="container column">
      <div class="post-box flex-box">
        <!-- 채팅선택창 -->
        <div class="chat-select-container">
          <div class="flex-box">
            <!-- 아이디및 체크박스 -->
            <div class="id-box flex-box between">
              {{ user.username }}
              {% comment %} <div>
                <label>
                  안읽은 메세지만 보기
                  <input type="checkbox" id="unreadMessagesCheckbox" name="">
                </label>
              </div> {% endcomment %}
            </div>
          </div>
          <!-- 채팅 리스트 -->
          <div class="chat-list-box column" style="display:flex;">
            <!-- 클릭 시 채팅창 열기 -->
            {% for chat in chats %}
            <a href="{% url 'chat' room_num=chat.chat_id %}" class="chatlink">
              <div class="flex-box chat-box between user-chat-button" data-user-id="1">
                <div>
                  {% if chat.sender_id == request.user.id %}
                  <div class="flex-box">
                    <p class="bold" id="user-name">{{chat.receiver.username}}</p>
                    <p class="s-text">{{chat.receiver.region}}</p>
                    <p class="s-text">{{chat.last_message.timestamp|format_date}}</p>
                  </div>
                  {% else %}
                  <div class="flex-box">
                    <p class="bold" id="user-name">{{chat.sender.username}}</p>
                    <p class="s-text">{{chat.sender.region}}</p>
                    <p class="s-text">{{chat.last_message.timestamp|format_date}}</p>
                  </div>
                  {% endif %}
                  <p class="chat-thumb-text">{{chat.last_message.content|get_after_colon}}</p>
                </div>
                <div class="thumbnail-box">
                  <img src="{{ MEDIA_URL }}{{ chat.item.image_url }}" alt="{{ chat.item.title }}">
                </div>
              </div>
            </a>
            <p id="room-name" style="display:none">{{ room.chat_id }}</p>
            {% endfor %}
            <script>
              // 현재 페이지의 URL을 가져옵니다
              var currentUrl = window.location.href;

              // 모든 링크를 가져와 반복합니다
              var links = document.getElementsByTagName("a");
              for (var i = 0; i < links.length; i++) {
                var link = links[i];

                // 현재 페이지의 URL과 링크의 href 속성을 비교합니다
                if (link.href === currentUrl) {
                  // 현재 페이지와 일치하는 링크에 active 클래스를 추가합니다
                  link.classList.add("active");
                }
              }
            </script>
          </div>
        </div>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
        
            // 주소에서 룸번호 찾기
            const roomName = document
              .getElementById('room-name')
              .textContent
              .trim();
        
            // 유저 id 찾기
            const userName = document
              .getElementById('user-name')
              .textContent
              .trim();
        

            // 웹소켓설정
            const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);
        
            //메세지 실시간으로 채팅창에 넣음
            chatSocket.onmessage = function (e) {
              const data = JSON.parse(e.data);
        
              // 메시지의 발신자가 현재 사용자인지 확인
              const isFromMe = data.username === userName;
        
              // 메시지 박스의 CSS 클래스를 설정
              const messageClass = isFromMe ? "from-me" : "";
        
              // 메시지 박스를 동적으로 생성하고 페이지에 추가
              if (!isFromMe) {
                // 메시지 박스의 CSS 클래스를 설정
                const messageClass = isFromMe ? "from-me" : "";
              
                // 메시지 박스를 동적으로 생성하고 페이지에 추가
                let chatLogTest = document.getElementById("chat-log");
                chatLogTest.innerHTML += `<div class="message-box ${messageClass}">
                  <div class="message-text">${data.message}</div><p style="font-size: 11px">${data.timestamp}</p>
                </div>`;
              }
              else{
                // 메시지 박스의 CSS 클래스를 설정
                const messageClass = isFromMe ? "from-me" : "";

                // 메시지 박스를 동적으로 생성하고 페이지에 추가
                let chatLogTest = document.getElementById("chat-log");
                chatLogTest.innerHTML += `<div class="message-box ${messageClass}">
                  <p style="font-size: 11px">${data.timestamp}</p><div class="message-text">${data.message}</div>
                </div>`;
              }
              }
            chatSocket.onclose = function (e) {
              console.error('Chat socket closed unexpectedly');
            };
        
            // 채팅창에 키 들어가있도록 함
            document
              .querySelector('#chat-message-input')
              .focus();
        
            // 채팅 전송
            document
              .querySelector('#chat-message-input')
              .onkeyup = function (e) {
                if (e.keyCode === 13 && this.value.trim() !== '') { // enter, return and input value is not empty
                  document
                    .querySelector('#chat-message-submit')
                    .click();
                }
              };
        
            document
              .querySelector('#chat-message-submit')
              .onclick = function (e) {
                e.preventDefault();
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                const now = new Date();
                const timestamp = now.getHours() + "시" + now.getMinutes() + "분";
                chatSocket.send(JSON.stringify({ 'username': userName, 'message': message, 'timestamp': timestamp }));
                messageInputDom.value = '';
              };
          }); 
        </script>


        {% if room is None %}
        <div class="chat-main-container" style="display: flex; justify-content: center;">
          <div style="justify-content: center; display: flex;">
            <p>채팅을 선택해주세요</p>
          </div>
          {% else %}
          <div class="chat-main-container">
            <div>
              <div class="contact-info flex-box">
                <div class="user-id-placeholder">
                  {% if room.sender_id == request.user.id %}
                  {{room.receiver.username}} <!-- 사용자 아이디를 표시할 곳 -->
                  {% else %}
                  {{room.sender.username}} <!-- 사용자 아이디를 표시할 곳 -->
                  {% endif %}
                </div>
                {% if room is not None %}
                {% if room.item.seller_name == request.user %}
                <div class="temp">
                  구매자
                </div>
                {% else %}
                <div class="temp">
                  판매자
                </div>
                {% endif %}
              </div>
              <!--물품정보-->
              <div class="goods-box flex-box between">
                
                <a href="{% url 'trade_post' item_id=room.item_id %}">
                  <div class="flex-box">
                    <div class="selected-thumbnail-box">
                      <img src="{{ MEDIA_URL }}{{ room.item.image_url }}" alt="{{ room.item.title }}">
                    </div>
                    <div class="goods-info-box">
                      <h2 style="font-size: 18px; font-weight: 500;">{{room.item.title}}</h2>
                      <p>{{room.item.price |add_commas}}원</p>
                      {% if room.sender_id == request.user.id %}
                      {{room.receiver.region}} <!-- 사용자 아이디를 표시할 곳 -->
                      {% else %}
                      {{room.sender.region}} <!-- 사용자 아이디를 표시할 곳 -->
                      {% endif %}
                    </div>
                  </div>
                </a>
                {% else %}
                {% comment %} <a href="{% url 'trade_post' item_id=room.item %}"> {% endcomment %}
                  <div class="flex-box">
                    <div class="selected-thumbnail-box">
                      <img src="{{ MEDIA_URL }}{{ room.item.image_url }}" alt="{{ room.item.title }}">
                    </div>
                    <div class="goods-info-box">
                      <h2 style="font-size: 18px; font-weight: 500;">{{room.item.title}}</h2>
                      <p>{{room.item.price |add_commas}}원</p>
                      {% if room.sender_id == request.user.id %}
                      {{room.receiver.region}} <!-- 사용자 아이디를 표시할 곳 -->
                      {% else %}
                      {{room.sender.region}} <!-- 사용자 아이디를 표시할 곳 -->
                      {% endif %}
                    </div>
                  </div>
                  {% comment %}
                </a> {% endcomment %}
                {% endif %}
                {% if room.item.is_end == False %}
                  {% if room.receiver_id == request.user.id %}
                  <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="end_item_id" value="{{ room.item_id }}">
                    <button type="submit">거래완료</button>
                  </form>
                  {% endif %}
                {% else %}
                  <p>거래완료된 상품입니다</p>
                {% endif %}
              {% endif %}
            </div>
            <!--채팅창 메인-->
            <div class="chat-container" id="chat-log">
              <!-- 메시지가 표시될 곳 -->
            </div>
          </div>
          {% if room is not None %}
            {% if room.item.is_end == True %}
              <form class="chat-input" action="submit">
                <textarea name="" style="background-color: white;" cols="30" rows="10" placeholder="거래완료된 상품으로 채팅을 보낼 수 없어요" disabled></textarea>
                <div>
                  <button disabled>전송</button>
                </div>
              </form>
            {% else %}
              <form class="chat-input">
                <textarea name="" id="chat-message-input" cols="30" rows="10" placeholder="채팅을 입력해주세요."></textarea>
                <div>
                  <button id="chat-message-submit">전송</button>
                </div>
              </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    <script>
      // 스크롤 요소의 ID를 선택하고 해당 요소를 가져옵니다.
      const scrollElement = document.querySelector('.chat-container');

      // 스크롤 요소의 맨 아래로 스크롤하는 함수를 정의합니다.
      function scrollToBottom() {
        scrollElement.scrollTop = scrollElement.scrollHeight;
      }

      // Mutation Observer를 생성합니다.
      const observer = new MutationObserver(scrollToBottom);

      // Observer를 설정하여 스크롤 요소의 하위 요소에 대한 변경을 감지합니다.
      observer.observe(scrollElement, { childList: true, subtree: true });

      // 페이지 로드 시 스크롤 요소를 맨 아래로 스크롤합니다.
      window.onload = scrollToBottom;
    </script>
    {% include 'footer.html' %}
</body>

</html>