{% load static %}
{% load custom_fillter %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색결과</title>
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="post-box">
      <div class="container column center">
        <div class="container column center">
          <div class="full-box trade-box column">
            <div class="flex-box full-box card-container between">
              {% for searched_item in searched_items %}
              <div class="card-box">
                {% comment %} {% if item_id %} {% endcomment %}
                <a href="{% url 'trade_post' item_id=searched_item.item_id %}" class="trade-text-link">
                  {% comment %} { % else %} {% endcomment %}
                  {% comment %} <a href="#"></a>
                  {% endif %} {% endcomment %}
                  <div class="card-img">
                    {% if searched_item.image_url %}
                      <img src="{{ MEDIA_URL }}{{ searched_item.image_url }}" alt="{{ searched_item.title }}">
                    {% endif %}
                  </div>
                  <div class="card-info-box">
                    <h5>{{ searched_item.title }}</h5>
                    <p class="bold">{{ searched_item.price |add_commas}}원</p>
                    {% comment %} <p class="bold">{{ searched_item.price }}</p> {% endcomment %}
                    <p>{{ searched_item.hope_loc }}</p>
                    <div class="flex-box">
                      <p>조회
                        {{ searched_item.views }}</p>
                      <p>·</p>
                      <p>채팅
                        {{ searched_item.chat_count }}</p>
                    </div>
                    <div>
                      <p>{{ searched_item.upload_date|format_upload_date }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </body>

  </html>
