{% load static %}
{% load custom_fillter %}
<!DOCTYPE html>
<html>

  <head>
    <title>중고거래</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="content-box">
      <a href="{% url 'write' %}">
        <div class="floating-button">
          거래글쓰기
        </div>
      </a> 
      <div class="about-trade">
        <div class="container ">
          <div class="trade-text">
            <h3>믿을만한</br>이웃 간 중고거래</h3>
          <p>동네 주민들과 가깝고 따뜻한 거래를</br>지금 경험해보세요.</p>
      </div>
      <div class="thumbnail-img">
        <img src="{% static 'img/img1.png' %}" alt=""/>
      </div>
    </div>
  </div>

  <div class="post-box">
    <div class="container column center">
      <h1>중고거래 인기매물</h1>
      <form method="GET" action="{% url 'trade' %}" style="padding-bottom: 30px;font-size: 18px;">
        <label for="latest">
        <input type="radio" id="latest" name="sort" value="latest" {% if sort == 'latest' %}checked{% endif %} onchange="this.form.submit()">
        <span>최신순</span>
      </label>
      <label for="popular">
        <input type="radio" id="popular" name="sort" value="popular" {% if sort == 'popular' %}checked{% endif %} onchange="this.form.submit()">
        <span>인기순</span>
      </label>
      </form>
      <radio name="radio"></radio>
    </div>
    <div class="container column center">
      <div class="full-box trade-box column">
        <div class="flex-box full-box card-container between">
          {% for post in posts %}
          <div class="card-box">
            <a href="{% url 'trade_post' item_id=post.item_id %}" class="trade-text-link">
              <div class="card-img">
                {% if post.image_url %}
                  <img src="{{ MEDIA_URL }}{{ post.image_url }}" alt="{{ post.title }}" class="base-image">
                  <img src="{% static "img/end.png" %}" class="overlay-image" id="overlay-image-{{ post.item_id }}">
                {% endif %}
                {% if post.is_end %}
                <script>
                  document.querySelector('#overlay-image-{{ post.item_id }}').style.display = 'block';
                </script>
                {% else %}
                <script>
                  document.querySelector('#overlay-image-{{ post.item_id }}').style.display = 'none';
                </script>
                {% endif %}
              </div>
              <div class="card-info-box">
                <h5>{{ post.title }}</h5>
                <p class="bold">{{ post.price |add_commas}}원</p>
                <p>{{ post.hope_loc }}</p>
                <div class="flex-box" style="font-size : 13px;">
                    <p>조회
                      {{ post.views }}</p>
                    <p>·</p>
                    <p>채팅
                      {{ post.chat_count }}</p>
                </div>
                <div>
                  <p style="font-size : 13px;">{{ post.upload_date|format_upload_date }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}

</body>

</html>
