{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/village_store.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8ded5d865153cd7267f3afc571d2f664&libraries=services"></script>

    <title>village_store</title>
</head>

<body>
    {% include 'nav.html' %}

    <div style="">
        <div>
            <section class="title_background">
                <div>
                    <div style="display: inline-block; margin-top: 80px; margin-left: 0px;">
                        <h1 class="title_h1" style="order: 1">동네 이웃들이
                            <br>
                            자주가는 동네 가게
                        </h1>
                        <span class="title  _span"
                            style="display: block; margin: 1rem 0 0; margin-left: 325px; font-size: 22px;line-height: normal;">
                            우리동네 사람들이
                            <br>
                            이용하는 가게를 찾아보세요.
                        </span>
                    </div>
                    <div>
                        <span class="title_img">
                            <img class="nearby_stores" src="{% static 'img/nearby_stores_hero_image.png' %}"
                                alt="배너 이미지">
                        </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="main" style="order: 2;">
            <div id="map"></div>
            <section style="margin-top: 35px;">
                <h2 class="main_h2">다양한 동네 가게를 볼 수 있어요</h2>
                <div class="menu_div">
                    <ul class="menu1">

                        <li>
                            <label class="menu_label">전체
                                <input type=" radio" class="menu_input">
                            </label>
                        </li>
                        <li>
                            <label class="menu_label">식당
                                <input type="radio" class="menu_input">
                            </label>
                        </li>
                        <li>
                            <label class="menu_label">카페
                                <input type="radio" class="menu_input">
                            </label>
                        </li>
                        <li>
                            <label class="menu_label">부동산
                                <input type="radio" class="menu_input">
                            </label>
                        </li>
                        <li>
                            <label class="menu_label">마트
                                <input type="radio" class="menu_input">
                            </label>
                        </li>
                        <li>
                            <label class="menu_label1">편의점
                                <input type="radio" class="menu_input" style="width: 180px;">
                            </label>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="menu2">
                        <a>
                            <div>
                                <div>
                                    <img src="/static/img/kakao.png" alt="이미지" style="width: 100px; height: 100px;">
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </ul>
                </div>
                <div id="modal" class="modal">
                    <div id="modal-content" class="modal-content">
                        <!-- 모달 내용이 여기에 표시됩니다 -->
                        <span id="close-modal" class="close">&times;</span>
                    </div>
                </div>
                <div id="map"></div>
            </section>
        </div>
        <section class="last">
            <div>
                <span>
                    <img class="last_img" src="{% static 'img/ic_category_town_colored_m.13979d69.png' %}" alt=""
                        style="width: 100px;">
                </span>
            </div>
            <div>
                <h6>가게를 운영하고 계신가요?</h6>
                <span class="last_span">당근에 등록하고 이웃에게 알려보세요!</span>
            </div>
            <div class="real_last">
                <a class="last_a">비즈 프로필 만들기</a>
            </div>
        </section>
    </div>
    <a style="border-bottom: 1px solid ;"></a>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/village_store.js' %}"></script>
</body>

</html>